body {
  margin: 0;
  overflow-x: hidden;
  height:100vh;
  width: 100vw !important;
  background-color: #050505 !important;
  /* background: radial-gradient(circle, #eaeaea 0%, #777 100%); */
}
#root{
  border: 1px solid #ff0;
  height: 100%;
}
.MuiGridListTile-root{
  max-height: 540px !important;
  /* height: 100% !important; */
}
li{
  height:  100% !important;
}
canvas {
  display: hidden;
  max-height:100% !important;
  width: 100vw !important;
  overflow:hidden;
}
.canvas{
  /* display: none; */
  width: 100vw !important;
  height: 100%;
  border: 1px solid green;
  overflow: hidden !important;
}
.App{
  /* width: 30vw !important; */
}
.MuiDrawer-paper{
  /* background: #050505 !important; */
}
.MuiListItem-secondaryAction {
  padding-right: 15px !important;
}

.MuiButtonGroup-grouped {
  min-width: 30px !important;
}

.MuiInputBase-input{
  font-size: 0.78rem !important;
}
.MuiSelect-select.MuiSelect-select {
  padding-right: 38px !important;
}

.footer{
  position:fixed;
  z-index: 100000;
  color: aquamarine;
  bottom: 0px;
  left: 0px;
  width:100%;
  justify-content: center;
  text-align: center;
}